%table{ class: table_css_classes }
  %thead
    %tr
      - columns.each do |name, options|
        - if resource_class.respond_to?(:human_attribute_name)
          %td= resource_class.human_attribute_name(name)
        - else
          %td= name
  %tbody
    - collection.each do |resource|
      %tr
        - columns.each do |name, options|
          - if options[:block].present?
            %td= options[:block].call(resource)
          - else
            %td= resource.send(name)